<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro de Horas</title>
  <link rel="stylesheet" href="/sistema_certificados/public/cadastroHoras.css">
</head>
<body>
  <header>
    <div class="left">
      <a href="inicio_alunos.html">
        <img src="/sistema_certificados/public/home-icon.png" alt="Início" />
        Início
      </a>
    </div>
  
    <div class="center">
      <h1>Sistema de Horas Complementares FMP</h1>
    </div>
  
    <div class="right">
      <a href="logout.html">
        <img src="/sistema_certificados/public/logout-icon.png" alt="Sair" />
        Sair
      </a>
    </div>
  </header>

  <main>
    <div class="form-box">
      <h2>Cadastro de Horas</h2>
      <form action="ControllerCadastroHoras.php" method="POST" enctype="multipart/form-data">
        <div class="form-line">
          <label for="evento">Nome Evento - Curso - Atividade:</label>
          <input type="text" id="evento" name="evento" required />
        </div>
        <div class="form-line">
          <label for="instituicao">Instituição:</label>
          <input type="text" id="instituicao" name="instituicao" required />
        </div>
        <div class="form-line">
          <label for="ano">Ano:</label>
          <select id="ano" name="ano" required>
            <option value="">Selecionar</option>
            <option value="2025">2025</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>
        <div class="form-line">
          <label for="comprovante">Upload do comprovante:</label>
          <div class="upload-wrapper">
            <input type="file" id="comprovante" name="comprovante" required>
            <img src="/sistema_certificados/public/upload-icon.png" alt="ícone upload">
          </div>
        </div>      

        <div class="button-wrapper">
          <button type="reset" class="btn-enviar">Cancelar</button>
          <button type="submit" class="btn-cancelar">Enviar</button>
        </div>
      </form>
    </div>
  </main>

  <div id="popup-sucesso" class="popup oculto">
    <p>Horas Cadastradas com Sucesso!</p>
  </div>

  <footer>
    <div>3ª Fase de ADS</div>
    <div>Alunos: Leonardo de Oliveira, Maria Eduarda Schmidt e Philipe da Silva</div>
    <div id="ano-atual">2025/AnoAtual</div>
    <img src="/sistema_certificados/public/logo-fmp.png" alt="Logo FMP" class="logo-footer" />
  </footer>

  <script>
    const ano = new Date().getFullYear();
    document.getElementById("ano-atual").textContent = `2025/${ano}`;
  </script>
</body>
</html>
