  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #1e2c66;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background-color: white;
    padding: 10px 40px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }

  header .left,
  header .right {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  header .left.invisible {
    visibility: hidden;
  }

  header .center {
    flex: 1;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  header .center h1 {
    font-size: 1.6em;
    font-weight: bold;
    white-space: nowrap;
    margin: 0 auto;
    pointer-events: auto;
  }

  header a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  header a img {
    height: 20px;
    width: 20px;
    margin-right: 6px;
    object-fit: contain;
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #1e2c66;
  }

  .form-box {
    background-color: white;
    padding: 40px 60px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }


  .form-box h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    font-weight:lighter;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .form-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  label {
    width: 290px;
    font-size: 18px;
    color: #000000;
    align-items: right;
  }

  input[type="text"],
  select {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background-color: white;
  }

  .upload-wrapper {
    position: relative;
    width: 100%;
    height: 36px;
  }

  .upload-wrapper input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2;
  }

  .upload-wrapper::before {
      content: attr(data-label);
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid #aaa;
      border-radius: 6px;
      font-size: 14px;
      color: #555;
      box-sizing: border-box;
      z-index: 1;
      position: relative;  
  }

  .upload-wrapper img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    z-index: 3;
    pointer-events: none;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 25px;
  }

  button {
    background-color: #1d2864;
    color: white;
    font-weight: bold;
    padding: 10px 80px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #2d3c9e;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #1e2c66;
    border-radius: 8px;
    padding: 50px 60px;
    z-index: 1000;
    font-size: 18px;
    color: black;
    text-align: center;
  }

  .oculto {
    display: none;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #1e2c66;
    border-radius: 8px;
    padding: 40px 50px;
    z-index: 1000;
    font-size: 18px;
    color: black;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }

  .btn-ok {
    margin-top: 20px;
    background-color: #1d2864;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }

  .btn-ok:hover {
    background-color: #2d3c9e;
  }

  footer {
    background-color: #eaeaea;
    font-size: 0.80em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 25px;
    border-top: 2px solid #ccc;
  }

  .logo-footer {
    height: 25px;
  } 