<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sistema de Horas Complementares</title>
  <link rel="stylesheet" href="inicio.css" />
</head>
<body>
  <header>
    <div class="left invisible"></div>
  
    <div class="center">
      <h1>Sistema de Horas Complementares FMP</h1>
    </div>
  
    <div class="right">
      <a href="login.html">
        <img src="logout-icon.png" alt="Sair" />
        Sair
      </a>
    </div>
  </header>   

  <main>
    <div class="card-container">
      
      <div class="card" >
        <img src="icon-historico.png" alt="Histórico de Horas" />
        <button class="btn" onclick="location.href='historico_adm.html'">Histórico de Horas Complementares</button>
      </div>
  
      <div class="card">
        <img src="icon-validar.png" alt="Cadastrar Horas" />
        <button class="btn" onclick="location.href='validarHoras.html'">Validar Horas Complementares</button>
      </div>
  
      <div class="card">
        <img src="icon-perfil.png" alt="Perfil" />
        <button class="btn" onclick="location.href='perfil_adm.html'">Perfil</button>
      </div>
  
    </div>
  </main>  

  <footer>
    <div>3ª Fase de ADS</div>
    <div>Alunos: Leonardo de Oliveira, Maria Eduarda Schmidt e Philipe da Silva</div>
    <div id="ano-atual">2025/AnoAtual</div>
    <img src="logo-fmp.png" alt="Logo FMP" class="logo-footer" />
  </footer>

  <script>
    const ano = new Date().getFullYear();
    document.getElementById("ano-atual").textContent = `2025/${ano}`;
  </script>
</body>
</html>